.cartContainer {
    width: 20vw;
    border: 1px solid grey;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartContainer > ul {
    list-style: none;
}

.ticket {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5em;
}

.ticketInfo {
    display: flex;
    flex-direction: column;
}

.eventInfo {
    font-size: 0.8em;
}

.quantityContainer {
    margin-left: 1em;
}

.quantityBtn {
    font-size: 1.5em;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
}

.plus {
    color: green;
}

.plus:hover {
    color: darkgreen;
}

.minus {
    color: red
}

.minus:hover {
    color: darkred;
}

.quantityContainer > span {
    font-size: 1.5em;
}

.totalPrice {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.sellBtn {
    margin-bottom: 1em;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 0.5em;
    border-radius: 3px;
}