.checkTicketContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkTicketForm {
    display: flex;
    flex-direction: column;
}

.checkTicketForm h1 {
    font-weight: lighter;
    margin: 0 auto;
}

.checkTicketInputs {
    display: flex;
    flex-direction: column;
    padding: 1em
}

.checkTicketInputs input {
    padding: 0.6em;
    margin-bottom: 0.5em; 
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 3px;
    width: 8em;
    margin: 0 auto;
}

.checkTicketInputs label {
    text-align: center;
    margin: 0.3em 0;
}

.checkTicketFormBtns {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2em;
}

.checkTicketFormBtns button {
    padding: 0.5em;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    background-color: rgba(72, 189, 120, 0.6);
    
}
.checkTicketFormBtns button:hover {

background-color: rgba(60, 157, 102, 0.6);
}

.checkTicketFormBtns button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(104, 104, 104, 0.24);  

}