.eventContainer {
    display: flex;
    justify-content: center;
    
}

.events {
    max-width: 40em;
    margin: 5em 0 3em 0;
    
}

.event {
    padding: 1em;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
 
    
}

.event:hover {
    cursor: pointer;
    background-color: lightgrey;
}

.eventtickets {
    width: 100%;
    border: 1px solid grey;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0em;
    margin-bottom: 2em;
}

.eventtickets > h2 {
    margin-top: 0;
    font-weight: lighter;
    text-transform: uppercase;

}

.ticketsLeft {
    font-weight: bold;
    margin-bottom: 1em;
}

.ticketsContainer {
    width: 75%;
}

.tickets {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
    background-color: rgb(225, 224, 224);
    padding: 0.5em;
    border-radius: 5px;
}

.addBtn {
    border: none;
    cursor: pointer;
    padding: 0.4em;
    border-radius: 3px;
    margin: 0em 0.5em 1em 0.5em;
    background-color: rgba(72, 189, 120, 0.6);
}

.addBtn:hover {

    background-color: rgba(60, 157, 102, 0.6);
    
    }
    
.addBtn:active {

        transform: scale(0.98);
        box-shadow: 3px 2px 22px 1px rgba(104, 104, 104, 0.24);
    }
