.transactionContainer {
    width: 20vw;
    border: 1px solid grey;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.transactionContainer > ul {
    list-style: none;
    text-align: center;
}

.totalPrice {
    margin-bottom: 1em;
}

.ticket {
    text-align: center;
    margin-top: 1em;
    padding: 1em;
}

.transactionBtns > button {
    border: none;
    cursor: pointer;
    padding: 0.5em;
    border-radius: 3px;
    margin: 0em 0.5em 1em 0.5em;
}